<strong>Olá, {{ student }}</strong>
<p>Um instrutor respondeu sua pergunta.</p>
<p>
  <table>
    <tr>
      <th style="
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        background-color: #dddddd"
      ><b>{{ question }}</b></th>
    </tr>
    <tr>
      <td style="
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;"
      >{{ answer }}</td>
    </tr>
  </table>

  <legend style="font-size: 10px;">Data da resposta: {{ answer_date }}</legend>
</p>
